    .loader-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100svh;
        background: white;
        opacity: 0.9;
        z-index: 30;
    }

    .loader-heading {
        z-index: 40;
        position: absolute;
        width: 100vw;
        top: 25svh;
        font-size: 2.5rem;
        font-weight: 700;
        text-align: center;
    }

    .plane {
        width: 150px;
        position: absolute;
        z-index: 40;
        animation: 10s infinite normal slide;
    }


    @keyframes slide {
        0% {
            left: 10vw;
            bottom: 35svh;
        }

        100% {
            left: 80vw;
            bottom: 45svh;
        }
    }