@import "./styles/form.css";
@import "./styles/trip-story.css";
@import "./styles/loader.css";
@import "./styles/auth.css";


html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.hello-user {
  margin: 0;
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: 600;
  cursor: pointer;
}

.logout {
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 6px;
  padding-top: 2px;
}

.title {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem;
}